<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>Filter1</filter-name>
        <filter-class>FilterLayer.Filter1</filter-class>
    </filter>
    <filter>
        <filter-name>Filter2</filter-name>
        <filter-class>FilterLayer.Filter2</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>Filter2</filter-name>
        <url-pattern>/editnew</url-pattern>
        <url-pattern>/checkcmt</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>Filter1</filter-name>
        <url-pattern>/addcat</url-pattern>
        <url-pattern>/delcat</url-pattern>
        <url-pattern>/addpost</url-pattern>
        <url-pattern>/delpost</url-pattern>
        <url-pattern>/edituser</url-pattern>
        <url-pattern>/edituserview</url-pattern>
        <url-pattern>/adckcmt</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>homecontroller</servlet-name>
        <servlet-class>Controller.homecontroller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>Controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminlogincontroller</servlet-name>
        <servlet-class>Controller.adminlogincontroller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterController</servlet-name>
        <servlet-class>Controller.RegisterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>Controller.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditNewController</servlet-name>
        <servlet-class>Controller.EditNewController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailController</servlet-name>
        <servlet-class>Controller.DetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CatController</servlet-name>
        <servlet-class>Controller.CatController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCatController</servlet-name>
        <servlet-class>Controller.AddCatController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DelCatController</servlet-name>
        <servlet-class>Controller.DelCatController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddPostController</servlet-name>
        <servlet-class>Controller.AddPostController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DelPostController</servlet-name>
        <servlet-class>Controller.DelPostController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditUserViewController</servlet-name>
        <servlet-class>Controller.EditUserViewController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditUserController</servlet-name>
        <servlet-class>Controller.EditUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchController</servlet-name>
        <servlet-class>Controller.SearchController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckCmtUserController</servlet-name>
        <servlet-class>Controller.CheckCmtUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckCmtAdminController</servlet-name>
        <servlet-class>Controller.CheckCmtAdminController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TopViewController</servlet-name>
        <servlet-class>Controller.TopViewController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TopNewController</servlet-name>
        <servlet-class>Controller.TopNewController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>homecontroller</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminlogincontroller</servlet-name>
        <url-pattern>/admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterController</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditNewController</servlet-name>
        <url-pattern>/editnew</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailController</servlet-name>
        <url-pattern>/detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CatController</servlet-name>
        <url-pattern>/cat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCatController</servlet-name>
        <url-pattern>/addcat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DelCatController</servlet-name>
        <url-pattern>/delcat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddPostController</servlet-name>
        <url-pattern>/addpost</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DelPostController</servlet-name>
        <url-pattern>/delpost</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditUserViewController</servlet-name>
        <url-pattern>/edituserview</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditUserController</servlet-name>
        <url-pattern>/edituser</url-pattern>
    </servlet-mapping>
    <jsp-config>
        <jsp-property-group>
            <url-pattern>*.jsp</url-pattern>
            <page-encoding>UTF-8</page-encoding>
        </jsp-property-group>
    </jsp-config>
    <servlet-mapping>
        <servlet-name>SearchController</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckCmtUserController</servlet-name>
        <url-pattern>/checkcmt</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckCmtAdminController</servlet-name>
        <url-pattern>/adckcmt</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TopViewController</servlet-name>
        <url-pattern>/topview</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TopNewController</servlet-name>
        <url-pattern>/topnew</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
